*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}
.products-con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.shop-item{
    height: 470px;
    width: 320px;
    border: 1px solid rgb(153, 150, 150);
    border-radius: 15px;
    margin-top: 100px; 
    position: relative;
    background-color: white;
}
.shop-item img{ height: 200px;
    width: 200px;
    position: absolute;
    top: 45px;
    left: 60px;
}
.cash-dcn{
    background-color: red;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: 65px; left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
}
.cash-dcn span{
    font-size: 10px; 
    color: white
}
.product-name{
    margin: 14px;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: 250px;
}
.price{
    position: absolute;
    width: 110px;
    height: 70px;
    font-weight: 700;
    font-size: 17px;
    top: 330px;
    left: 20px;
}
.credit{
    position: absolute;
    width: 150px;
    height: 70px;
    font-weight: 100;
    font-size: 17px;
    top: 330px;
    left: 150px;
}
.creditmonth{
    background-color: rgb(201, 200, 200);
    border-radius: 7px;
    height: 30px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: hsl(0, 0%, 55%);
}
.select{
    background-color: white;
    border-radius: 3px;
}
.select span{
    padding: 4px;
}
.creditmath{
    margin-top: 10px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 13px;
}
.addToCart{
    background-color: #8dc63f;
    position: absolute;
    top: 410px;
    height: 40px;
    width: 270px;
    left: 25px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all linear;
}
.addToCart:hover{
    background-color: hsl(85, 52%, 36%);
    position: absolute;
    top: 410px;
    height: 40px;
    width: 270px;
    left: 25px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}
.addToCart img {
    height: 17px;
    width: 17px;
    position: absolute;
    top: 11px;
    left: 78px;
}
.cash-dcn i {
    position: absolute;
    font-size: 25px;
    left: 260px;
    top: -40px;
    cursor: pointer;
}
